@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Kumbh+Sans:wght@100..900&display=swap");
:root {
  --very-dark-blue: #1d2025;
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black-opacity: rgba(0, 0, 0, 0.75);
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background-color: var(--white);
  color: var(--very-dark-blue);
}
h1 {
  font-family: "Kumbh Sans", sans-serif;
}
